<br/>
<h1>Users</h1>
<div class="col-lg-8 col-md-8">
  <p>
    Click on a user to start a private message.
  </p>
</div>
<div class="col-lg-4 col-md-4">
  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Users</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |users|}}
      <tr>
        <td>{{users.username}}</td>
        <th>{{users.id}}</th>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
